<div class="people-list" id="people-list">
  <div class="search">
    <input type="text" placeholder="search" />
    <i class="fa fa-search"></i>
  </div>
  <ul class="list">
    <li class="clearfix" *ngFor="let user of users" (click)="choose(user)">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg" alt="avatar" />
      <div class="about">
        <div class="name">{{ user.username }}</div>
        <div class="status">
          <i class="fa fa-circle online"></i> online
        </div>
      </div>
    </li>
    <!-- <li class="clearfix">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_02.jpg" alt="avatar" />
      <div class="about">
        <div class="name">Aiden Chavez</div>
        <div class="status">
          <i class="fa fa-circle offline"></i> left 7 mins ago
        </div>
      </div>
    </li> -->
  </ul>
</div>