<div class="h-100 scrollable py-3">
  <canvas baseChart
    [datasets]="lineChartData"
    [options]="lineChartOptions"
    [labels]="lineChartLabels"
    [legend]="false"
    chartType="line"></canvas>

  <div class="scrollable messages">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col" style="width: 30%;">Name</th>
          <th scope="col">Message</th>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Name</th>
          <td>Message</td>
        </tr>
        <tr>
          <th scope="row">Name</th>
          <td>Message</td>
        </tr>
        <tr>
          <th scope="row">Name</th>
          <td>Message</td>
        </tr>
        <tr>
          <th scope="row">Name</th>
          <td>Message</td>
        </tr>
        <tr>
          <th scope="row">Name</th>
          <td>Message</td>
        </tr>
        <tr>
          <th scope="row">Name</th>
          <td>Message</td>
        </tr>
        <tr>
          <th scope="row">Name</th>
          <td>Message</td>
        </tr>
        <tr>
          <th scope="row">Name</th>
          <td>Message</td>
        </tr>
        <tr>
          <th scope="row">Name</th>
          <td>Message</td>
        </tr>
        <tr>
          <th scope="row">Name</th>
          <td>Message</td>
        </tr>
        <tr>
          <th scope="row">Name</th>
          <td>Message</td>
        </tr>
        <tr>
          <th scope="row">Name</th>
          <td>Message</td>
        </tr>
        <tr>
          <th scope="row">Name</th>
          <td>Message</td>
        </tr>
        <tr>
          <th scope="row">Name</th>
          <td>Message</td>
        </tr>
        <tr>
          <th scope="row">Name</th>
          <td>Message</td>
        </tr>
        <tr>
          <th scope="row">Name</th>
          <td>Message</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>