<div class="h-100 scrollable py-3">
  <canvas baseChart
    [datasets]="lineChartData"
    [options]="lineChartOptions"
    [labels]="lineChartLabels"
    [legend]="false"
    chartType="line"></canvas>

  <div class="scrollable messages pt-2">
    <!-- <button class="btn" (click)="test()">Test</button> -->
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col" style="width: 30%;">Name</th>
          <th scope="col">Message</th>
      </thead>
      <tbody>
        <tr *ngFor="let message of messages">
          <th scope="row">{{ message.userId }}</th>
          <td>{{ message.content }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>